{
  "JWT_PRIVATE_KEY": "",
  "JWT_PUBLIC_KEY": "",
  "USER_SERVICE_GET_USER_BY_ID_FUNCTION_NAME": "",
  "USER_SERVICE_REGISTER_FUNCTION_NAME": "",
  "USER_SERVICE_LOGIN_FUNCTION_NAME": "",
  "USER_SERVICE_GET_ACCESS_TOKEN_VIA_REFRESH_TOKEN_FUNCTION_NAME": "",
  "USER_SERVICE_UPDATE_USER_BY_ID_FUNCTION_NAME": ""
}
