{
  "JWT_PRIVATE_KEY": "",
  "JWT_PUBLIC_KEY": "",
  "GET_USER_BY_ID_FUNCTION_NAME": "",
  "REGISTER_FUNCTION_NAME": "",
  "LOGIN_FUNCTION_NAME": "",
  "GET_ACCESS_TOKEN_VIA_REFRESH_TOKEN_FUNCTION_NAME": "",
  "UPDATE_USER_BY_ID_FUNCTION_NAME": ""
}
